.tip-- {
    position: relative;
}

.tipText {
    display:none;
    border:2px solid #888; 
    text-align: center;
    background: #222;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    opacity: .8;
    bottom: 120%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: 500;
    color: #fff;
    left: 0px;
    padding: 2px;
    position: absolute;
    z-index: 100;
    width: 200px;
    transition: opacity 1s;
}
.tip-- .tipText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    /*
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    */
}

.tip--:hover .tipText {
    display: block;
    opacity: .9;
}









